/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

header {
  background-image: url("https://laurenharradine.github.io/cocktails/img/blue.jpg");;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
